<div>
<mat-toolbar class="home-header">
<h2>Едукативни Огласи за Донации</h2>
</mat-toolbar>
<mat-grid-list cols="3" rowHeight="600px" gutterSize="20px" class="home-grid">
    <mat-grid-tile style="margin-right:10px"
        *ngFor="let campaign of edukativni">

<mat-card  class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{campaign}}</mat-card-title>
    <mat-card-subtitle>Стефан Фидановски</mat-card-subtitle> <!-- ime na avtorot-->
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> <!-- slika od profilnata na avtorot-->
  <mat-card-content>
    <p>
      <a href="#"> Прочитајте повеќе..</a>
    </p>
</mat-card-content>
<mat-card-actions>
  <!-- <a routerLink="donate-now"><button mat-raised-button>Донирај</button></a> -->
  <button mat-raised-button [matMenuTriggerFor]="appMenu"   color="accent">Донирај Веднаш</button>
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item color="accent" class="button_layout">Финансиски Средства</button>
    <button mat-menu-item>Храна</button>
    <button mat-menu-item>Облека</button>
  </mat-menu>
  <button mat-raised-button>Сподели</button>
</mat-card-actions>
</mat-card>

</mat-grid-tile>
</mat-grid-list>
</div>
