.login-card{
    min-width: 100px;
    margin:auto;
    width:50%;
    margin-top: 82px;

}
.example-form{
    margin:auto;
}
.background-login{
    background-color:secondary;
}
.colorr {
  color: white;
}
