<mat-card class ="how-it-works-card">
  <mat-card-title> Општо за проектот
	</mat-card-title>
  <mat-card-content>
    На оваа страница се објавуваат информации за сите активни акции за донирање средства на луѓе кои имаат потреба од помош.<br>
    Објавените постови се превземени од: други интернет страници, страници на социјалните мрежи, печатени и електронски медиуми, информации добиени преку емаил адреса итн.<br>
    Објавуваме апели за помош кои содржат телефонски броеви за донирање. Доколку нема телефонски броеви за донирање апелот треба да содржи информации за контакт за да биде објавен.<br>
    Ние не одговараме за точноста на објавените податоци. Секоја грешка во пренесувањето на информациите е ненамерна.<br>
</mat-card-content>
  <mat-card-subtitle>	Како може да помогнете
</mat-card-subtitle>
  <mat-card-content>
    Секој начин на помош е добредојден.
    Доколку знаете за некој апел за помош или хуманитарна акција која не е објавена на страницата, најавете се, доколку не сте пријавен корисник, ве молиме да се регистрирате и да објавите.<br>

    Доколку имате облека, обувки, пакет храна, предмети и апарати за домакинство, играчки, книги..се што мислите дека може некому да му е потребно а вам веќе не ви треба, додадете го со опис на линкот.<br>

    Секој може да помогне на некаков начин. Помогнете како што можете. еден начин за помош е преку проширување на апелите за помош преку социјалните мрежи. <br>
</mat-card-content>
  <mat-card-subtitle>	Проверка на податоците
</mat-card-subtitle>
  <mat-card-content>
    Доколку сме во можност, ги проверуваме и потврдуваме контакт информациите и/или трансакциските сметки на апелите за помош. За отворените донациски броеви, одговорни се мобилните оператори.

</mat-card-content>
</mat-card>
