<div class="footer-component">
<mat-toolbar color="secondary">
  <mat-toolbar-row class= "footer footer-row margin-top">

  <!-- <span class="examp1le-fill-remaining-space"></span> -->
  <a routerLink="donate-now"><button mat-button color="accent" >Донирај Веднаш</button></a>
  <!-- <button mat-button color="accent">Doniraj vednas</button> -->
<!-- <span class="example-fill-remaining-space"></span> -->
<a routerLink="register"><button mat-button  color="accent">Регистрирај Се</button></a>
<a routerLink="login"><button mat-button color="accent">Најави Се</button></a>

</mat-toolbar-row>
</mat-toolbar>
<mat-toolbar color="secondary">
  <mat-toolbar-row class= "footer footer-row">
<p class="copyright">© GoHelpMe 2018</p>
    </mat-toolbar-row>
</mat-toolbar>
</div>
