
<mat-toolbar color="primary">

  <mat-toolbar-row class= "footer">
    <a routerLink="index"><button mat-button color="accent" >Doma</button></a>
    <a routerLink="donate-now"><button mat-button color="accent" >Doniraj Vednash </button></a>
    <!-- <button mat-button color="accent">Doniraj vednas</button> -->
<span class="example-fill-remaining-space"></span>
<a routerLink="register"><button mat-button  color="accent">Registriraj se</button></a>
<a routerLink="login"><button mat-button color="accent">Najavi se</button></a>

  </mat-toolbar-row>

</mat-toolbar>
