$primary: (
    50 : #fdf3ea,
    100 : #fbe0ca,
    200 : #f9cca7,
    300 : #f6b883,
    400 : #f4a869,
    500 : #f2994e,
    600 : #f09147,
    700 : #ee863d,
    800 : #ec7c35,
    900 : #e86b25,
    A100 : #ffffff,
    A200 : #fff5f0,
    A400 : #ffd3bd,
    A700 : #ffc2a3,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$secondary: (
    50 : #fffefc,
    100 : #fefbf9,
    200 : #fef9f5,
    300 : #fef7f0,
    400 : #fdf5ed,
    500 : #fdf3ea,
    600 : #fdf1e7,
    700 : #fcefe4,
    800 : #fcede1,
    900 : #fceadb,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
