/* For use in src/lib/core/theming/_palette.scss */
$secondary: (
    50 : #3d85c6,
    100 : #3d85c6,
    200 : #3d85c6,
    300 : #3d85c6,
    400 : #3d85c6,
    500 : #3d85c6,
    600 : #3d85c6,
    700 : #3d85c6,
    800 : #3d85c6,
    900 : #3d85c6,
    A100 : #3d85c6,
    A200 :#3d85c6,
    A400 : #3d85c6,
    A700 : #3d85c6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$primary: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #ffffff,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
