<div class="background-register">
<mat-card class="register-card mat-elevation-z6">

        <mat-card-title>Регистрација</mat-card-title>
        <mat-card-content>
                <table class="example-full-width" cellspacing="0">
                        <tr>
                            <td>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Име">
                                </mat-form-field>
                            </td>
                            <td><mat-form-field class="example-full-width"><input matInput placeholder="Презиме"></mat-form-field></td>
                        </tr>
                        <tr>
                          <td>

                            <mat-form-field class="example-full-width">
                            <input matInput placeholder="Корисничко" [(ngModel)]="username" name="username" required>
                            </mat-form-field>
                          </td>
                        </tr>
                        <tr>
                                <td>

                                  <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Е-пошта" [(ngModel)]="username" name="username" required>
                                  </mat-form-field>
                                </td>
                              </tr>
                        <tr>
                        <td><mat-form-field class="example-full-width">
                          <input matInput placeholder="Лозинка" [(ngModel)]="password"type="password" name="password" required>
                        </mat-form-field></td>
                       <td> <mat-form-field class="example-full-width">
                                <input matInput placeholder="Повтори лозинка" [(ngModel)]="password"type="password" name="password" required>
                              </mat-form-field></td>
                        </tr>
                      </table>
        </mat-card-content>
        <mat-card-actions>
             <button mat-raised-button (click)="register()" class="white-font" color="accent">Регистрирај се</button>
        </mat-card-actions>

</mat-card>
</div>
